pkgbase = lpadmincern
	pkgdesc = CERN LDAP printer database client. Note: CERN IT does not provide official support for Arch Linux. Use at your own risk.
	pkgver = 1.4.9
	pkgrel = 2
	url = https://linux.web.cern.ch/docs/printing/
	arch = any
	license = GPL
	makedepends = gzip
	makedepends = tar
	depends = cups
	depends = python
	depends = python-ldap
	source = https://linuxsoft.cern.ch/cern/alma/9/CERN/x86_64/Packages/l/lpadmincern-1.4.9-1.al9.cern.noarch.rpm
	md5sums = 70dd526357fcf58605736b7028cc124d

pkgname = lpadmincern
